@import url(//db.onlinewebfonts.com/c/0b51833ff62e4af8acb5fd3e2bf59e97?family=SF+Pro+Display:wght@300,400,500,700);

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
  height: 100vh;
  margin: 0;
  font-family: 'SF Pro Display', arial;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}
img {width: 100%;}


.navbar{
    background: #1C1C1C;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar__logo{
    background: #F7971E;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFD200, #F7971E);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFD200, #F7971E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar__menu{
    display: flex;
    align-items: center;
    list-style: none;
}

.navbar__item{
    height: 80px;
}

.navbar__links{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    text-decoration: none;
    height: 100%;
    transition: all .03s ease;
}

.navbar__btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #fc4a1a;
    background: -webkit-linear-gradient(to right, #f7b733, #fc4a1a);
    background: linear-gradient(to right, #f7b733, #fc4a1a);    
    color: white;
    transition: all 0.3s ease;
}

.navbar__links:hover{
    color: #fc4a1a;
    transition: all .03s ease;
}

@media screen and (max-width: 960px) {
    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar__menu{
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: -1;
        /*background: #131313;*/
    }

    .navbar__menu.active{
        background: #131313;
        top: 100%;
        opacity: 1;
        transition: all .5s ease;
        z-index: 99;
        height: 60vh;
        font-size: 1.6rem;
    }

    #navbar_logo{
        padding-left: 25px;
    }

    .navbar__toggle .bar{
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: white;
    }

    .navbar__links{
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    .navbar__btn{
        padding-bottom: 2rem;
    }

    .button{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80px;
        margin: 0;
    }

    #mobile-menu{
      position: absolute;
      top: 20%;
      right: 5%;
      transform: translate(5%, 20%);
    }

    .navbar__toggle .bar{
       display: block;
       cursor: pointer; 
    }

    #mobile-menu.is-active .bar:nth-child(2){
        opacity: 0;
    }
    #mobile-menu.is-active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    #mobile-menu.is-active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
}

// .nav-container {
//     background: #1C1C1C;

//     a {
//         color:white;
//     }
// }

// header {
//     display: flex;
//     justify-content: space-between;
//     padding: 2em;

//     .logo {
//         background: #fe8c00; /* fallback for old browsers */
//         background: -webkit-linear-gradient(to right, #fe8c00, #f83600); /* Chrome 10-25, Safari 5.1-6 */
//         background: linear-gradient(to right, #fe8c00, #f83600); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
//         -webkit-background-clip: text;
//         -moz-background-clip: text;
//         -webkit-text-fill-color: transparent;
//         -moz-text-fill-color: transparent;
//         font-weight: bold;
//     }

//         ul{
//             display: flex;

//             a{
//                 display: inline-block;
//                 padding: 0 1em;
//             }
//         }
// }

.social-header, .hero-design{
    display: none;
}

.hero {
    background: #232323;
    display: grid;
    text-align: center;
    padding: 4em;

    h1 {

        background: #ECE9E6;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent;
    }
    
    .typing {
        background: #F7971E;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #FFD200, #F7971E);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #FFD200, #F7971E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent;
        transform: translate(-50%, -50%);
    }

    .herocontent h2 {
        background: #ECE9E6;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent;
        font-size: 2.7em;
    }

    .herocontent h2 span {
        background: #F7971E;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #FFD200, #F7971E);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #FFD200, #F7971E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent;
        font-size: 1em;
    }

}

.meet {
    display: flex;
    margin: 0 auto;
    width: 200px;
    font-weight: bold;
    
    p {
        background: #E44D26;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #F16529, #E44D26);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #F16529, #E44D26); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent;
    }

    span {
        margin-top: 1em;
        margin-right: .5em;
    }
}

.scroll {
    width: 30px;
    margin-top: 8em;
}

section {
    background: #232323;
    text-align: center;
}

.featured {
    position: relative;
    padding: 4em 2em;
}

.featured::before {
    content: "";
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: #FFC147;
    top: 0;
    left: 0;
    z-index: -1;
}

.subtitle {
    text-transform: uppercase;
    font-weight: bold;
    background: #E44D26;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F16529, #E44D26);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F16529, #E44D26); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    letter-spacing: .2em;
    font-size: 1.2em;   
}

.featured-title {
    background: #abbaab;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #dddddd, #abbaab);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #dddddd, #abbaab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;

    font-weight: bold;
    font-size: 2em;
    margin-top: -.4em;
    display: block;
}

.featured-desc {
    color: white;
    margin-bottom: 3em;
    font-size: .9em;
    line-height: 1.8em;
    font-weight: 500;
}




.button-container{
    display: left;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.button-container a {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    border: 2px solid #F7971E;
    
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 2px;
    color: #abbaab;
    -webkit-box-reflect: below 0px linear-gradient(transparent, #0001);
    transition: 0.5s;
    transition-delay: 0s;
}

.button-container a:hover{
    transition-delay: 1.5s ;
    color: #232323;
    box-shadow: 0 0 10px #FFC147,
                0 0 20px #FFC147,
                0 0 40px #FFC147,
                0 0 80px #FFC147,
                0 0 160px #FFC147
}

.button-container a span {
    position: relative;
    z-index: 100;
}

.button-container a:before {
    content: ' ';
    position: absolute;
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 2px;
    background: #F7971E;
    box-shadow: 5px -8px 0 #F7971E,
                5px 8px 0 #F7971E;
    transition: width 0.5s, left 0.5s, height 0.5s, 
    box-shadow 0.5s;
    transition-delay: 1s, 0.5s, 0s, 0s;
}
.button-container a:hover::before {
    width: 60%;
    height: 102%;
    left: -2px;
    box-shadow: 5px 0 0 #F7971E, 
                5px 0 0 #F7971E;
    transition-delay: 0s, 0.5s, 1s, 1s;
}

.button-container a:after {
    content: '';
    position: absolute;
    right: -20px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 2px;
    background: #F7971E;
    box-shadow: -5px -8px 0 #F7971E,
                -5px 8px 0 #F7971E;
    transition: width 0.5s, left 0.5s, height 0.5s, 
    box-shadow 0.5s;
    transition-delay: 1s, 0.5s, 0s, 0s;
}
.button-container a:hover::after {
    width: 60%;
    height: 102%;
    right: -2px;
    box-shadow: -5px 0 0 #F7971E, 
                -5px 0 0 #F7971E;
    transition-delay: 0s, 0.5s, 1s, 1s;
}

// .skills {
//     background: #232323;
// }

// .skills-container {
//     background: #fe8c00;  /* fallback for old browsers */
//     background: -webkit-linear-gradient(to right, #f83600, #fe8c00);  /* Chrome 10-25, Safari 5.1-6 */
//     background: linear-gradient(to right, #f83600, #fe8c00);
//     padding: 2em;
//     border-radius: 1em;
//     margin-bottom: 1em;
    

//     .icon-container {
//         display: grid;
//         grid-template-columns: 1fr 1fr 1fr 1fr;
//         grid-template-rows: 1fr;
//         text-align: center;
//         margin: 10px;
//         height: 425px;
//         width: 300px;
//         border-radius: 4px;
//         display: flex;
//         flex-direction: column;
//         justify-content: center;
  
//         transition: .03s ease-in;
//     }
// }
.body-card{
    height: 100%;
    margin: 0%;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #232323;
    width: 100%;
}

.container::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgb(255, 123, 0), #fe8c00);
    clip-path: circle(30% at right 70%);   
    z-index: -1;
}
.container::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#FFC147, #fdd098);
    clip-path: circle(20% at 10% 10%); 
    z-index: -1;  
}

.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1330px;
    flex-wrap: wrap;
    z-index: 1;
}

.container .card {
    position: relative;
    width: 288px;
    height: 400px;
    margin: 30px;
    box-shadow: 10px 10px 40px 40px rgba(0, 0, 0, 0.5);
    border-radius: 13px;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(4px);
}

.container .card .content{
    padding: 20px;
    text-align: center;
    transform: translateY(100px);
    opacity: 0;
    transition: 0.5s;
}

.container .card:hover .content{
    transform: translateY(0px);
    opacity: 1;
}

.container .card .content h2{
    position: absolute;
    top: -140px;
    right: 10px;
    font-size: 8em;
    color: rgba(255, 255, 255, 0.05);
    pointer-events: none;
}

.container .card .content h3{
    font-size: 1.8em;
    color: white;
    z-index: 2;
}

.container .card .content p {
    font-size: 1em;
    color: white;
    font-weight: 300;
}

// .container .card .content a {
//     position: relative;
//     display: inline-block;
//     padding: 8px 20px;
//     margin-top: 15px;
//     background: white;
//     color: #232323;
//     border-radius: 20px;
//     text-decoration: none;
//     font-weight: 500;
//     box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
// }

.container .card .content img {
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 15px;
    justify-content: center;
    width: min-content;
    height: auto;
}

.portfolio{
    background: #232323;
}

.portfolio-container a img{
    border-radius: 1em;
    margin-bottom: 2em;
}

section .social-media {
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #cac1c1, #f7b733);
}

@media only screen and (min-width: 800px) {

    .featured, .portfolio {
        text-align: left;
    }
    .featured, .portfolio-container{
        display: grid;
        grid-template-columns: 40% auto;
    }

    .left, .portfolio-left{
        display: grid;
        place-content: center;
    }

    .right{
        margin-left: 2em;
        margin-top: 1em;
    }

    // .container {
    //     margin-top: -5em;
    //     // margin-bottom: -7em;
    //     // padding-top: 7em;
    // }

.portfolio {
    padding-top: 7em ;
}

.portfolio-container img {
    margin-left: 2em;
    padding-bottom: 8em;
}

}

@media only screen and (min-width: 1200px) {
    .hero{
        height: 90vh;
    }

    .nav-container {
        display: grid;
        grid-template-columns: 66% auto;
        background: unset;
    
        header {
            background: #1C1C1C;
        }
    
    }
    header{
        padding: 2em 2em 2em 4em;
    }
    .social-header{
        padding: 2em 5em 2em 5em;
    }
    section {
        padding: 4em;
    }
        
   .social-header{ 
    
    
        display: inline-block;
        ul {
            display: flex;
            justify-content: space-between;
            width: 7em;
            float: right;
            

            img{
                width: 20px;
            }
        }
    }

    .hero {
        display: grid;
        grid-template-columns: 66% auto;
        background: unset;
        padding: 0;

        .herocontent{
            background: #232323;
            padding: 6em 8em 6em 4em;
            text-align: left;

            h1 {
                font-size: 3em;
                line-height: 1.2em;
            }
        }
    }

    .meet{
        margin: unset;
    }
    .hero-design{
        display: unset;
        margin-left: -49.9%;
        margin-top: 15%;
        width: 100%;
    }

    .portfolio img {
        float: right;
        max-width: 500px;
    }
}






@media only screen and (min-width: 1250px) {
    header {
        padding: 2em 2em 2em 10em; 
    }
    .social-header{
        padding: 2em 10em 2em 0;
    }
    section {
        padding: 10em 10em 4em 10em;
    }

    .hero .herocontent{
        padding: 6em 8em 6em 10em;
    }
}

@media only screen and (min-width: 1550px){
.header{
        padding: 2em 2em 2em 20em;
    }
    .social-header{
        padding: 2em 20em 2em 0;
    }
    section{
        padding: 6em 20em 4em 20em;
    }
    .hero .herocontent{
        padding: 9em 20em 6em 20em;
    }
}

.circle {
    animation: circleAnim 1s infinite alternate-reverse;
}

@keyframes circleAnim {
    from{
        transform: translateY(3px);
        z-index: 5;
    }
    to{
        transform: translateY(18px);
    }
}